<ion-header [translucent]="true">
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Impostazioni</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Preferenze</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Notifiche</ion-label>
            <ion-toggle slot="end" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Tema Dark</ion-label>
            <ion-toggle slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informazioni</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list><ion-item>
        <ion-icon name="albums-outline"></ion-icon> BeeWork v1.0
      </ion-item>
        <ion-item>
          <ion-icon name="people-circle-outline"></ion-icon>
          Team di sviluppo
        </ion-item>
            Selene Verna, Flaviana Caroselli, Angelo Casciani, Mohamed Ossama Mohamed Mohamed
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-button (click)="Eliminato()" color="primary" expand="block">
      Elimina Account
    </ion-button>
    <p>{{Eliminato}}</p>
  </div>



</ion-content>
