<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Impostazioni
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Impostazioni</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Preferenze</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Notifiche</ion-label>
            <ion-toggle [(ngModel)]="Notifiche"></ion-toggle>

          </ion-item>
          <ion-item>
            <ion-label>Tema</ion-label>
            <ion-radio-group value="light">
              <ion-item id="radio">
                <ion-radio id="radio1" slot="start" value="light" color="danger"></ion-radio>
                <ion-radio  slot="start" value="dark" color="warning"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>



  <ion-card>
    <ion-card-header>
      <ion-card-title>Informazioni</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list><ion-item>
        <ion-icon name="albums-outline"></ion-icon> BeeWork v1.0
      </ion-item>
        <ion-item>
          <ion-icon name="people-circle-outline"></ion-icon>
          Team di sviluppo
        </ion-item>
            Selene Verna, Flaviana Caroselli, Angelo Casciani, Mohamed Ossama Mohamed Mohamed
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-button (click)="Eliminato()" color="primary" expand="block">
      Elimina Account
    </ion-button>
    <p>{{Eliminato}}</p>
  </div>



</ion-content>
