<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">     
      <ion-back-button icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/lista-notifiche']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Aggiungi membro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let utente of utenti">
    <app-user-initials-avatar [utente]="utente"></app-user-initials-avatar>

    <ion-label>
      @{{ utente.username }}
    </ion-label>

    <ion-button (click)="addUserToProject(utente.id)">
      Aggiungi
        <!-- <ion-icon name="add-circle-outline"></ion-icon> -->
    </ion-button>

  </ion-item>

</ion-content>
