<ion-header>
  <ion-toolbar>
    <ion-title>Profilo Personale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card">
      <ion-card-header>
        <div class="profile">BF</div>
        <ion-card-title>Bello Figo</ion-card-title>
        <ion-card-subtitle>@theGucciBoy</ion-card-subtitle>
        <div class="mail">
          <ion-icon name="mail-outline"></ion-icon>
          gucciboy@swag.com</div>
      </ion-card-header>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Paul Yeboah (born 4 August 1992), known as Bello FiGo, is a Ghanaian YouTuber and singer known in Italy for his
      numerous songs in which he often parodies different topics like racism, sexism and politics that often caused
      controversy and debate in Italy about his social, political and cultural role because of the way he talks about these topics.
    </ion-card-content>
  </ion-card>
  <div id="button">
    <ion-button color="primary">
      Aggiorna la Bio
    </ion-button>
  </div>
</ion-content>
