<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profilo Personale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card">
      <ion-card-header>
        <div class="profile">BF</div>
        <ion-card-title>Bello Figo</ion-card-title>
        <ion-card-subtitle>@theGucciBoy</ion-card-subtitle>
        <div class="mail">
          <ion-icon name="mail-outline"></ion-icon>
          gucciboy@swag.com</div>
      </ion-card-header>
    </div>
  </ion-card>

  <ion-card id="bio">
    <ion-card-header>
      <ion-card-title>Bio</ion-card-title>
      <ion-button color="primary" (click)="toggleVisibility()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="!isVisible">
        {{ bio }}
      </p>
      <ion-textarea *ngIf="isVisible" rows="8" inputmode="text" [(ngModel)]="bio">
      </ion-textarea>

    </ion-card-content>
  </ion-card>

    <ion-button *ngIf="isVisible" id="button" color="primary" (click)="toggleVisibility()">
      Aggiorna Bio
    </ion-button>

</ion-content>
