<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/lista-notifiche']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ 'PROGETTO' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
      <ion-card-title>nome progetto</ion-card-title>
        <ion-button class="button5" color="primary">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      descrizione progetto
    </ion-card-content>
    <ion-chip color="danger">
      <ion-label color="danger">etichetta (es urgente)</ion-label>
    </ion-chip>

    <ion-chip color="tertiary">
      <ion-icon name="calendar-outline" color="tertiary"></ion-icon>
      <ion-label color="tertiary">10-06-2021</ion-label>
    </ion-chip>

  </ion-card>

  <ion-list>
    <ion-list-header>
      <ion-label>Completamento: xx%</ion-label>
    </ion-list-header>
    <ion-progress-bar color="success" value="0.5"></ion-progress-bar>
  </ion-list>

    <button class="btn prof" (click)="openMenu()" >SV</button>
    <button class="btn prof" (click)="openMenu()" >FC</button>



  <ion-button  class="button button3" [routerLink]="['/lista-task']" expand="block" color="primary" strong="true">
    <ion-label> {{ 'LISTA_TASK' | translate }} </ion-label>
  </ion-button>

</ion-content>
