.button1 {
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  border: 2px solid black;}

.button2 {
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  border: 2px solid black;}

.button4 {
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  border: 2px solid black;}

.button3 {
  width: 75%;
  position: fixed;
  bottom: 10%;
  right: 11%;
}
.button5 {
  position: fixed;
  right: 8%;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.prof1{
  border-color: #e27257;
}
.prof2{
  border-color: #e0bb2e;
}



