div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid var(--ion-color-primary);

    margin-inline: .5em;
}
