<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lista Notifiche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Notifica 1 <ion-icon name="mail-unread-outline" size="small"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="albums-outline"></ion-icon>
      Mohamed ha modificato l'interfaccia Impostazioni
    </ion-card-content>

    <ion-card-header color="primary">
      <ion-card-title>Notifica 2 <ion-icon name="mail-open-outline" size="small"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="albums-outline"></ion-icon>
      Flaviana ha Scritto il codice dell'interfaccia Aggiungi Progetto
    </ion-card-content>

    <ion-card-header color="primary">
      <ion-card-title>Notifica 3 <ion-icon name="mail-unread-outline" size="small"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="albums-outline"></ion-icon>
      Angelo ha completato il progetto
    </ion-card-content>

    <ion-card-header color="primary">
      <ion-card-title>Notifica 4 <ion-icon name="mail-unread-outline" size="small"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="albums-outline"></ion-icon>
      è stato assegnato un lavoro da parte di  Selene
    </ion-card-content>

    <ion-card-header color="primary">
      <ion-card-title>Notifica 5 <ion-icon name="mail-unread-outline" size="small"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="albums-outline"></ion-icon>
      Progetto sta per scadere
    </ion-card-content>
  </ion-card>
</ion-content>

