<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/lista-notifiche']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <div id="container">
        <ion-button [routerLink]="['/aggiungi-progetto']" color="primary">
          {{ 'AGGIUNGI_PROGETTO' | translate }}
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="progetti">

    <ion-item *ngFor="let progetto of progetti">
      <ion-label class="progetto">
        <h3 routerLink="/progetti/{{progetto.id}}">{{ progetto['nome'] }}</h3>
        <ion-button class="button5" color="primary" (click)="eliminaProgetto(progetto.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
