<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/lista-notifiche']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/progetti']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ 'TASK' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="task">
  <ion-card>
    <ion-card-header>
      <ion-item>
        <div class="card-content">
          <h2>{{ task.nome }}</h2>

          <!-- si ma no se metti ngIf su una espressione..se e' valutata false il componente sparisce -->
          <ion-button [color]="isCompleted  ? 'success' : null" class="trash" color="primary" (click)="completeTask(task.id)">
            <ion-icon  name="checkmark-circle-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-item>
    </ion-card-header>

    <ion-card-content>
      {{ task.descrizione }}
    </ion-card-content>
  </ion-card>


  <ion-chip class="priorita" color="danger">
    <ion-label color="danger">{{ task.priorita }}</ion-label>
  </ion-chip>


  <ion-chip class="etichetta" color="primary" *ngIf="task.etichetta">
    <ion-label color="primary"> {{ task.etichetta }} </ion-label>
  </ion-chip>
  <div>
    <ion-chip class="scadenza" color="primary">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>{{ task.scadenza | date}}</ion-label>
    </ion-chip>
  </div>



</ion-content>
