<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'NUOVO_TASK' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form [formGroup]="newTaskForm">
    <ion-list>
      <ion-item>
          <ion-label position="stacked" > {{ 'ETICHETTA' | translate }} </ion-label>
          <ion-input inputmode="text" formControlName="label"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> {{ 'NOME' | translate }} </ion-label>
        <ion-textarea autocapitalize inputmode="text" formControlName="name" ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> {{ 'DESCRIZIONE' | translate }} </ion-label>
        <ion-textarea inputmode="text" formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'SCADENZA' | translate }}</ion-label>
        <ion-datetime displayFormat="DD MM YY" placeholder="Seleziona una data" formControlName="expirationDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'PRIORITA' | translate }}</ion-label>
        <ion-select placeholder="Select One" formControlName="priority">
          <ion-select-option value="high">Alta</ion-select-option>
          <ion-select-option value="medium">Media</ion-select-option>
          <ion-select-option value="low">Bassa</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'MEMBRI' | translate }}</ion-label>
        <ion-select multiple="true" formControlName="members">
          <ion-select-option *ngFor="let member of members" [value]="member">{{ member }}</ion-select-option>
        </ion-select>
      </ion-item>

    <ion-button id= "button" [routerLink]="['/lista-task']" [disabled]="!newTaskForm.valid" color="primary" expand="block" type="submit">
      <ion-label> {{ 'CREA' | translate }} </ion-label>
    </ion-button>

    </ion-list>
  </form>

</ion-content>
