<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Logo -->
  <img alt="logo" src="assets/images/logo.png" >

  <form [formGroup]="registrazioneForm">
    <ion-item lines="full">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label position="floating">
        Username
      </ion-label>
      <ion-input type="text" required formControlName="username"></ion-input>

      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" required formControlName="nome"></ion-input>

      <ion-label position="floating">Cognome</ion-label>
      <ion-input type="text" required formControlName="cognome"></ion-input>
    </ion-item>


    <ion-item lines="full">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="floating">
        Email
      </ion-label>
      <ion-input type="text" required formControlName="email"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-icon name="key-outline" slot="start"></ion-icon>
      <ion-label position="floating">
        Password
      </ion-label>
      <ion-input type="password" required formControlName="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/registrazione']" color="primary" expand="block" (click)="onRegister()">
          {{ 'SIGNUP_BUTTON' | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
