<ion-app>
  <ion-split-pane contentId="main">
    <!-- Inizio Menu Laterale -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let p of appPages" [routerDirection]="'root'" [routerLink]="[p.url]" tappable>
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{p.title | translate }}</ion-label>
            </ion-item>
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>{{'LOGOUT'  | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Fine Menu Laterale -->

    <ion-router-outlet id="main"></ion-router-outlet>
   

  </ion-split-pane>
</ion-app>
