<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ 'PROFILO_MEMBRO' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(utente$ | async) as utente">
  <ion-card>
    <div class="card">
      <ion-card-header>
        <div class="profile">{{ utente.nome.charAt(0).toUpperCase() + utente.cognome.charAt(0).toUpperCase() }}</div>
        <h1>{{ utente.nome }} {{ utente.cognome }} </h1>
        <h4>@{{ utente.username}}</h4>
<!--        <ion-card-subtitle>@{{ utente.username}}</ion-card-subtitle>-->
        <div class="mail">
          <ion-icon name="mail-outline"></ion-icon>
          {{ utente.email }}
        </div>
      </ion-card-header>
    </div>
  </ion-card>

  <ion-card *ngIf="utente.bio">
    <ion-card-header>
      <ion-card-title>{{ 'BIO' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ utente.bio }}
    </ion-card-content>
  </ion-card>
</ion-content>
