<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <div id="container">
        <ion-button [routerLink]="['/aggiungi-progetto']" color="primary">
          Aggiungi Progetto
        </ion-button>
      </div>
    </ion-toolbar>

    <div class="ion-padding">
      <ion-button [routerLink]="['/impostazioni']" color="primary">
        Impostazioni
      </ion-button>
    </div>
  </ion-header>




</ion-content>
