<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/lista-notifiche']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/progetti']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ 'LISTA_TASK' | translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div>
    <ion-button routerLink="crea" color="primary">
      {{ 'AGGIUNGI_TASK' | translate }}
    </ion-button>
  </div>

    <ion-list style="padding-top: 0">
      <ion-item *ngFor="let task of (task$ | async)" class="task-card" [color]="task.completato ? 'warning' : null">
        <ion-label routerLink="{{task.id}}">
          <h3>{{ task.nome }}</h3>
        </ion-label>

        <ion-button  color="primary" (click)="deleteTaskById(task.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>

      </ion-item>
    </ion-list>

</ion-content>
