<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calendario</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-content>
      <ion-content>
        <div class="ion-padding">
          <ion-calendar [(ngModel)]="dateRange"
                        [options]="optionsRange"
                        [type]="type"
                        [format]="'YYYY-MM-DD'">
          </ion-calendar>
        </div>
      </ion-content>
    </ion-content>
