<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Progetti Personali</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header color="primary">
      Progetto 1
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h4>Task 13</h4>
        <p>Da fare entro il: 12-04-2022</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h4>Task 22</h4>
        <p>Da fare entro il: 12-04-2022</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="primary">
      Progetto 2
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h4>Task 2</h4>
        <p>Da fare entro il: 12-04-2022</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h4>Task 34</h4>
        <p>Da fare entro il: 12-04-2022</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="primary">
      Progetto 3
    </ion-list-header>

    <ion-item>
      <ion-label>
        <h4>Task 1</h4>
        <p>Da fare entro il: 12-04-2022</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h4>Task 13</h4>
        <p>Da fare entro il: 12-04-2022</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
