<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="auth-content">

    <!-- Logo -->
    <img alt="logo" src="assets/images/logo.png" >

    <form [formGroup]="loginFormModel">
      <ion-item lines="full">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
<!--        <ion-label>-->
<!--          {{ 'EMAIL' | translate }}-->
<!--        </ion-label>-->
        <ion-input color="secondary" type="email" formControlName="email" placeholder="{{'EMAIL' | translate}}"></ion-input>
      </ion-item>
      <p ion-text class="text08">
        <ion-text color="danger" *ngIf="loginFormModel.errors">{{ 'EMAIL_REQUIRED' | translate }}</ion-text>
      </p>

      <ion-item lines="full">
        <ion-icon name="key-outline" slot="start"></ion-icon>
<!--        <ion-label position="floating">-->
<!--          {{ 'PASSWORD' | translate }}-->
<!--        </ion-label>-->
        <ion-input color="secondary" type="password" formControlName="password" placeholder="{{ 'PASSWORD' | translate }}"></ion-input>
      </ion-item>
<!--      <p ion-text class="text08" *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">-->
<!--        <ion-text color="danger">{{ 'PASSWORD_REQUIRED' | translate }}</ion-text>-->
<!--      </p>-->

      <ion-row>
        <ion-col>
          <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="onLogin()" [disabled]="!loginFormModel.valid" tappable>
            {{ 'LOGIN_BUTTON' | translate }}
          </ion-button>

          <ion-button [routerLink]="['/registrazione']" color="primary" expand="block">
            {{ 'SIGNUP_BUTTON' | translate }}
          </ion-button>

          <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
        </ion-col>
      </ion-row>
    </form>


    <div text-center class="logIn">
      <ion-button [routerLink]="['/home']" color="primary" expand="block">
        Home
      </ion-button>
    </div>



  </div>
</ion-content>

