<ion-header>
  <ion-toolbar>
    <ion-title>dettagliTask</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Diffusione volpe rossa<ion-toggle class="button toggle"></ion-toggle></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Ricercare la diffusione della volpe rossa in portogallo. In particolare, indicare le zone della penisola in cui la volpe sta scomparendo.
    </ion-card-content>

  </ion-card>
  <ion-chip class="priorita" color="danger">
    <ion-label color="danger">urgente</ion-label>
  </ion-chip>

  <ion-chip class="etichetta" color="tertiary">
    <ion-label color="tertiary">per prof. Rossi</ion-label>
  </ion-chip>

  <ion-chip class="scadenza" color="dark">
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-label>20-01-2021</ion-label>
  </ion-chip>

  <ion-list class="membri">
    <button class="button btn" [routerLink]="['/profilo-membro']">SV</button>
    <button class="button btn" [routerLink]="['/profilo-membro']">FC</button>

    <button class="button btn">
      <ion-icon name="add-outline"></ion-icon>
    </button>
  </ion-list>

  <ion-item class="commenti">
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    <ion-input></ion-input>

    <ion-button color="medium">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>

  </ion-item>

</ion-content>
