
.btn {
  border: 2px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.button123 {
  position: relative;
  left: 30%;}

.prof1{
  border-color: #7974ff;
}
.prof2{
  border-color: #007069;
}
